


<%= form_for(@volunteer) do |f| %>
  <% if @volunteer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@volunteer.errors.count, "error") %> prohibited this volunteer from being saved:</h2>

      <ul>
      <% @volunteer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.date_select :dob, :start_year => 1930, :end_year => 1999 %>
  </div>
  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>


<%#### new ################################## %>
<table>
  <tr>
    <th><%= f.label :days_to_work %></th>
    <th><%= f.label :Job_preference %></th>
  </tr>
  <% row = 1 %>
  <%= f.fields_for :dojobs do |ff| %>
    <tr>
      <td>
      <div class="field">
        <%= ['Monday', 'Tuesday', 'Wednesday', 'Thursday',
                                    'Friday', 'Saturday', 'Sunday'][row-1] %>
      </div>
      </td>
      <td>    
        <div class="field">
          <%= ff.collection_select(:jobdescription_id, Jobdescription.all,
                         :id, :name) %>
        </div>
      </td>
    </tr>
    <% row = row+1 %>
  <% end %>
</table>




  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :moblie %><br />
    <%= f.text_field :moblie %>
  </div>
  <div class="field">
    <%= f.label :home %><br />
    <%= f.text_field :home %>
  </div>
  <div class="field">
    <%= f.label :background %><br />
    <%= f.text_area :background %>
  </div>
  
  <div class="field">
   <h5><%= f.label "Do you want be a fosterer?" %>
   <%= f.check_box :befosterer, {checked_value: "false", unchecked_value: "true"} %></h2>
  </div>
  
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Help', help_volunteer_path %> |
