<table>
  <tr>
    <th><%= f.label :days_to_work %></th>
    <th><%= f.label :Job_preference %></th>
    <th><%= f.label "nth day in" %></th>
    <th><%= f.label :Frequency %></th>
  </tr>
  <% row = 1 %>
  <%= f.fields_for :vol_job_day do |ff| %>
    <tr>
      <td>
      <div class="field">
        <%= ['Monday', 'Tuesday', 'Wednesday', 'Thursday',
                                    'Friday', 'Saturday', 'Sunday'][row-1] %>
      </div>
      </td>

      <td>    
        <div class="field">
          <%= ff.collection_select(:jobdescription_id, Jobdescription.all,
                         :id, :name) %>
        </div>
      </td>

<% if true %>
      <%= ff.fields_for :frequency do |fff| %>
        <td align='center'>    
          <div class="field">
            <%= fff.select(:week, (1..5)) %>
          </div>
        </td>
        <td>    
          <div class="field">
            <%= fff.select(:name, fff.object.names) %>
          </div>
        </td>
      <% end %>
<% end %>

    </tr>
    <% row = row+1 %>
  <% end %>
</table>
