<div class='nav_bar' align='center'>
  <%= link_to "Home", volunteers_path %>
  | <%= link_to 'Edit Personal Details', edit_user_path(current_user) %> 
<% if current_user.volunteer.fosterer != nil %>
  | <%= link_to 'Edit Fostering Details', edit_fosterer_path(current_user.volunteer.fosterer) %>
<% end %>
  | <%= link_to "Change Password", password_path %>
  | <%= link_to "Log out", log_out_path %>
</div>
<center><h1>Welcome 
<% if(current_user.volunteer.title != nil) %>
  <%= current_user.volunteer.title %>
<% end %>
<%= current_user.volunteer.firstname %></h1></center>

<% if current_user.volunteer.status == "New" %>
  <p>Your application has been recived. Please bear with us while your application is processed</p>
<% end %>

<% if current_user.volunteer.status == "Awaiting Orientation" %>
  <p>
    <% if current_user.volunteer.orientation_id != 1 %>
      Your application has been accepted. You are scheduled to attend your orientation on 
      <%= current_user.volunteer.orientation.datetime.to_formatted_s(:long_ordinal) %>
    <% else %>
      You did not show up to your orientation. Please select a new one and make sure you attend this time!
    <% end %>
  </p>
<% elsif current_user.volunteer.status == "Rejected" %>
  <p>Unfortunatly your application has been rejected. We will keep your details on record and contact you if another position opens.</p>
<% 


else





 %>
  <p>You are next rostered on at ?? <br />




  <b>Noted absences, since 
              <%= Time.now - @volcoordinator.absence_period.weeks %>:</b>
  <% absent = current_user.volunteer.absences.where( "day > ?", 
              Time.now - @volcoordinator.absence_period.weeks) %>
  <% if absent.empty? %>
    none
  <% else %>
    <br/>
    <% b = Array.new %>
    <% absent.each do |a| %>
      <% b << a.day.strftime("%a %d/%m/%Y") %>
    <% end %>
    <p id="warning">
      <%= b.join(', ') %>
    </p>
  <% end %>





  <h2>Notes</h2>
  <% current_user.volunteer.whiteboards.each do |whiteboard| %>
  <div class="note">
  <span class="note-title">
      <%= whiteboard.title %>
  </span>
  <span class="note-body">
      <%= whiteboard.body %>
  </span>
  </div>
  <% end %>
<% if current_user.volunteer.whiteboards.empty? %>
No Notes
<% end %>





<h2>Add a note:</h2>
<%= form_for([current_user.volunteer, current_user.volunteer.whiteboards.build]) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% end %>