
<h1>Listing volunteers</h1>

 
<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Next Working</th>
    <th>in job</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @volunteers.each do |volunteer| %>
  <tr>
    <%# d = volunteer.next_working %>
    <td><%= volunteer.firstname %></td>
    <td><%= volunteer.lastname %></td>
    <td><%#= d.nil? ? 'no' : d.day %></td>
    <td><%#= d.nil? ? 'no' : d.dojob.job %></td>
    <td><%= link_to 'Show', volunteer %></td>
    <td><%= link_to 'Edit', edit_volunteer_path(volunteer) %></td>
    <td><%= link_to 'Destroy', volunteer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Volunteer', new_volunteer_path %>
<%= link_to "Home", root_path %>