<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Dob:</b>
  <%= @person.dob %>
</p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<p>
  <b>Homephone:</b>
  <%= @person.homePhone %>
</p>

<p>
  <b>Workphone:</b>
  <%= @person.workPhone %>
</p>

<p>
  <b>Mobile:</b>
  <%= @person.mobile %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
