<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @notepad.title %>
</p>

<p>
  <b>Content:</b>
  <%= @notepad.content %>
</p>

<p>
  <b>Volunteers:</b>
  <%= @notepad.volunteers %>
</p>


<%= link_to 'Edit', edit_notepad_path(@notepad) %> |
<%= link_to 'Back', notepads_path %>
