<%= form_for(@dept_supervisor) do |f| %>
  <% if @dept_supervisor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dept_supervisor.errors.count, "error") %>
                        prohibited this dept supervisor from being saved:</h2>

      <ul>
      <% @dept_supervisor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :department_id %><br />
    <%= f.collection_select(:department_id, Department.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
