<h1>Listing Dept Supervisors</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Department</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dept_supervisors.each do |dept_supervisor| %>
  <tr>
    <td><%= dept_supervisor.title %></td>
    <td><%= dept_supervisor.firstname %></td>
    <td><%= dept_supervisor.lastname %></td>
    <td><%= dept_supervisor.department.name %></td>
    <td><%= link_to 'Show', dept_supervisor %></td>
    <td><%= link_to 'Edit', edit_dept_supervisor_path(dept_supervisor) %></td>
    <td><%= link_to 'Destroy', dept_supervisor, method: :delete, 
                                  data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dept Supervisor', new_dept_supervisor_path %>
