<h1>Volunteer Scheduler for the Cat Department</h1>
<!-- on this page to determin what dept to show use current_user.deptSupervisor -->
<%########### variables #########%>
<% time = Time.now %>

<%########### Table Header #########%>
<table id="volschedule_table">
  <tr>
    <th class='volschedule_col'></th>
    <th class='volschedule_col'>
                            <%= I18n.t("date.month_names")[time.month] %></th>
  <% (1..31).each do |c| %>
    <% t = time + (c * (60*60*24)) %>
    <% if(t.day == 1) %>
      <th class='volschedule_col'>
                            <%= I18n.t("date.month_names")[t.month] %></th>
    <% else %>
      <th class='volschedule_col'></th>
    <% end %>
  <% end %>
  </tr>

  <tr>
    <th>Job</th>
  <% (0..31).each do |c| %>
    <% t = time + (c * (60*60*24)) %>

    <% if (t.wday > 0 && t.wday <= 5) %>
      <th class='weekday'>
      <%= t.day %>
      </th>
    <% else %>
      <th><%= t.day %></th>
    <% end %>
  <% end %>
  </tr>

<% ########## create vol_array[day number] -> list of volunteers data ##### %>
<% #### Days 0-6, relate to the last week ### %>
  <% vol_array = Array.new(39) %>
  <% (0..38).each do |c| %>
    <% vol_array[c] = Array.new %>
  <% end %>
  <% vol_array = pop_with_last_7_days vol_array %>

  <% ####### slow nested algorythm, maybe improve later ##### %>
  <% @volunteers.each   do |v| %>
    <% v.vol_job_day.each do |vjd| %>
      <% (7..38).each         do |c| %>
        <% t = time + (c * (60*60*24)) %>
        <% dayno = (t.wday == 0) ? 7 : t.wday %> <%# mon => 1, sun => 7 %>

        <% if check_frequency?(vjd, t) %>
          <% vol_array[c] << v %> 
        <% end %>

      <% end %>
    <% end %>
  <% end %>

<%########### Table Content #########%>
  <% jd = @volscheduler.department.jobdescriptions.all %>
  <% (1..jd.length-1).each do |i| %>
  <tr>
    <td><%= jd[i].name %></td>
    <% (7..38).each do |c| %>
      <% t = time + (c * (60*60*24)) %>
    <td>
      <% vol_array[c].each do |v2| %>
        <% v2.vol_job_day.each do |vjd2| %>
          <% if vjd2.jobdescription.id == jd[i].id && check_frequency?(vjd2, t) %>
            <a href= <%= volunteer_path(v2) %> >
              <%= v2.firstname %>
            </a>
          <% end %>
        <% end %>
      <% end %>
    </td>
    <% end %>
  </tr>
  <% end %>

</table>
<br/><br/>

<p id="notice"><%= notice %></p>
<br/><br/><br/><br/><br/>
<%= link_to "Home", root_path %>

