<h1>Change Password</h1>
<%= form_for (@user), :url => change_password_path do |f| %>
  <%= f.label :password %><%= f.password_field :password %><br />
  <%= f.label :password_confirmation %><%= f.password_field :password_confirmation %><br />
  <p class="button">&lt; <%= link_to :back %> <%= f.submit "Change Password" %></p>
<% end %>