<%= form_for(@department) do |f| %>
  <% if @department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department.errors.count, "error") %> 
          prohibited this department from being saved:</h2>
      <ul>
      <% @department.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :department %><br />
    <%= f.text_field :name %>
  </div>

  <% if !(f.object.jobdescriptions.empty?) %>
    <%= f.label :jobs %><br />

<%#= f.object.jobdescriptions.inspect %>

    <%= f.fields_for :jobdescriptions do |ff| %>
      <% if ff.object.name.eql?("none") then next end %>
      <div class="field">
        <%= ff.text_field :name %>

        <br />
      </div>
    <% end %>
  <% end %>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
