<p id="notice"><%= notice %></p>
<%= render "volcoordinators/coordinatorNav" %>
<p>
  <b>Department:</b>
  <%= @department.name %>
</p>

<p>
  <% @department.jobdescriptions.each do |jd| %>
    <%= jd.name %><br />
  <% end %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', volcoordinator_departments_path %>
