<center>
<br />
<br />
<%= image_tag 'SPCA.jpg' %>
<title>
  <h1>SPCA Volunteer Portal</h1>
</title>

<%= image_tag 'Volunteer.png' %>
<br/>
<%= link_to "Volunteers", volunteers_path %>

<br /><br/><br/>
<%= image_tag 'Fosterer.png' %>
<br/>
<%= link_to "Fosterers", fosterers_path %>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
<br />
<%= link_to "Coordinator Page", volcoordinators_path %>





</center>
