<center>
<br />
<br />
<%= image_tag 'SPCA.jpg' %>
<br />
<h1>SPCA Volunteer Portal</h1>


<%= image_tag 'Volunteer.png' %>
<br/>
<%= link_to "Volunteers", volunteers_path %>

<br /><br/><br/>
<%= image_tag 'Fosterer.png' %>
<br/>

<%= link_to "Fosterers", '/fosterers' %>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
<br />

<%= link_to "Coordinator Page", volcoordinators_path %><br/>
<%= link_to "Fosterer2", fosterer2s_path %> <br/>
<%= link_to "Volunteer Scheduler", volschedulers_path %>

</center>
