<div class='nav_bar' align='center'>
  <%= link_to "Home", volcoordinators_path %>
  | <%= link_to "Change Password", password_path %>
  | <%= link_to "Departments", volcoordinator_departments_path %>
  | <%= link_to "Active Volunteers", volcoordinator_activeVols_path %>
  | <%= link_to "Orientations", orientations_path %>
  | <%= link_to "Log out", log_out_path %>
</div>
