<%= form_for(@volcoordinator) do |f| %>
  <% if @volcoordinator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@volcoordinator.errors.count, "error") %> 
                          prohibited this volcoordinator from being saved:</h2>

      <ul>
        <% @volcoordinator.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email_replyto %><br />
    <%= f.text_field :email_replyto %>
  </div>
  <div class="field">
    <%= f.label :application_email_header %><br />
    <%= f.text_field :application_email_header %>
  </div>
  <div class="field">
    <%= f.label :application_email_content %><br />
    <%= f.text_area :application_email_content %>
  </div>

  <div class="field">
    <%= f.label "Period absences are measured over, in weeks" %><br />
    <%= f.text_field :absence_period %>
  </div>
  <div class="field">
    <%= f.label "Maximum absences in that period" %><br />
    <%= f.text_field :absence_tolerence %>
  </div>

  <div class="field">
    <%= f.label :absence_email_header %><br />
    <%= f.text_field :absence_email_header %>
  </div>
  <div class="field">
    <%= f.label :absence_email_content %><br />
    <%= f.text_area :absence_email_content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
