<h1>Editing Volunteer</h1>

<%= form_for(@volunteer) do |f| %>
  <% if @volunteer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@volunteer.errors.count, "error") %> 
                              prohibited this volunteer from being saved:</h2>

      <ul>
      <% @volunteer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <div class="field">
    <h5>What do you want to be?<%= f.select :role, [['volunteer','volunteer'],['fosterer','fosterer'],['both','both']], :prompt => "Please select"%></h5>
  </div>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.date_select :dob, :start_year => 1930, :end_year => 1999 %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :moblie %><br />
    <%= f.text_field :moblie %>
  </div>
  <div class="field">
    <%= f.label :home %><br />
    <%= f.text_field :home %>
  </div>
  <div class="field">
    <%= f.label :background %><br />
    <%= f.text_area :background %>
  </div>
  
  <div class="field">
   <h5><%= f.label "Do you want be a fosterer?" %>

   <%= f.check_box :befosterer, {checked_value: "false", unchecked_value: "true"} %></h2>
  </div>
    
  <div>
  <% #if (@volunteer.orientation.datetime>Date.today)%>
     <h5><%= f.label "Your orientation date" %>
     <%= f.collection_select(:orientation_id, Orientation.order('datetime ASC'), :id, :datetime, :prompt => 'Please select') %>
  <% #end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= form_tag(reviewtype: @reviewtype, id: @volunteer) do %>
  <%= submit_tag("Update Volunteer") %>
<% end %>

<br>

<%= link_to "Back", :controller => "volcoordinators", :action => "review", :id => @volunteer.id, :reviewtype => @reviewtype %>