<h1>Volunteer Coordinators</h1>

Data used for replying to new applications.

<table>
  <tr>
    <th>Email reply-to</th>
    <th>Application Email Header</th>
    <th>Application Email Content</th>
  </tr>
  <tr>
    <td><%= @volcoordinator.email_replyto %></td>
    <td><%= @volcoordinator.application_email_header %></td>
    <td><%= @volcoordinator.application_email_content %></td>
  </tr>
</table>
<table>
  <tr>
    <th>Email reply-to</th>
    <th>Absence Email Header</th>
    <th>Absence Email Content</th>
  </tr>
  <tr>
    <td><%= @volcoordinator.email_replyto %></td>
    <td><%= @volcoordinator.absence_email_header %></td>
    <td><%= @volcoordinator.absence_email_content %></td>
  </tr>
</table>
<%= link_to 'Show', @volcoordinator %>
<%= link_to 'Edit', edit_volcoordinator_path(@volcoordinator) %>

<br />

<h1>Manage Volunteers</h1>
<%= link_to "New applications", volcoordinator_newvolunteers_path %></br>
<%= link_to "Awaiting orientation", volcoordinator_orientedvolunteers_path %></br>
<%= link_to "To be entered into Shelterbuddy", volunteers_path %></br>
<%= link_to "Rejected applications", volunteers_path %></br>

<br/>
<h1>Notes from Volunteers</h1>

<% @whiteboards.each do |whiteboard| %>
  <tr>
    <td><%= whiteboard.title %></td>
    <td><%= whiteboard.body %></td>
    <td><%= link_to 'Destroy', whiteboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

<%= link_to "Orientation", orientations_path %><br/>
