<h1>Listing volcoordinators</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Appemailacknowledgetext</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @volcoordinators.each do |volcoordinator| %>
  <tr>
    <td><%= volcoordinator.email %></td>
    <td><%= volcoordinator.appEmailAcknowledgeText %></td>
    <td><%= link_to 'Show', volcoordinator %></td>
    <td><%= link_to 'Edit', edit_volcoordinator_path(volcoordinator) %></td>
    <td><%= link_to 'Destroy', volcoordinator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Volcoordinator', new_volcoordinator_path %>
