<h1>Volunteer Coordinators</h1>

Data used for replying to new applications.

<table>
  <tr>
    <th>Email_replyto</th>
    <th>Header</th>
    <th>Body</th>
    <th></th>
    <th></th>
  </tr>



<% @volcoordinators.each do |volcoordinator| %>
  <tr>
    <td><%= volcoordinator.email_replyto %></td>
    <td><%= volcoordinator.email_header %></td>
    <td><%= volcoordinator.email_content %></td>
    <td><%= link_to 'Show', volcoordinator %></td>
    <td><%= link_to 'Edit', edit_volcoordinator_path(volcoordinator) %></td>
  </tr>
<% end %>
</table>

<br />


