<p id="notice"><%= notice %></p>

<h1>Volunteers that have attended orientation</h1>

<table border=1>
  <tr>
    <th>Orientation Date</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th></th>
  </tr>

  <% Orientation.where(["id != 1"]).order("datetime").each do |o| %>
    <% #Also filter out past orientations that are now empty (of New volunteers) %>
    <% if o.datetime >= DateTime.now %>
      <tr>
        <td><font color="blue"><b><%= o.datetime.to_formatted_s(:long_ordinal) %></font></b></td>
        <td><%= o.volunteers.length %></td>
        <td></td>
        <td></td>
      </tr>
      <% o.volunteers.each do |volunteer| %>
        <% if volunteer.status == "Awaiting Orientation" %>
          <tr>
            <td></td>
            <td><%= volunteer.firstname %></td>
            <td><%= volunteer.lastname %></td>
            <td><%= link_to "Review", :controller => "volcoordinators", :action => "review", :id => volunteer.id, :reviewtype => "orientedvolunteers" %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</table>

<br>

<%= link_to "Back", volcoordinators_path %> |
<%= link_to "Home", root_path %>