<p id="notice"><%= notice %></p>

<p>
  <b>Orientation:</b>
</p>

<p>
  <b>Title:</b>
  <%= @volunteer.title %>
</p>
<p>
  <b>Dob:</b>
  <%= @volunteer.dob %>
</p>
<p>
  <b>Firstname:</b>
  <%= @volunteer.firstname %>
</p>
<p>
  <b>Lastname:</b>
  <%= @volunteer.lastname %>
</p>
<p>
  <b>Address:</b>
  <%= @volunteer.address %>
</p>
<p>
  <b>Email:</b>
  <%= @volunteer.email %>
</p>
<p>
  <b>Mobile:</b>
  <%= @volunteer.mobile %>
</p>
<p>
  <b>Home:</b>
  <%= @volunteer.home %>
</p>
<p>
  <b>Background:</b>
  <%= @volunteer.background %>
</p>

<h2>Notes</h2>
<% @volunteer.whiteboards.each do |whiteboard| %>
<div class="note">
<h3>
    <%= whiteboard.title %>
</h3>
  <p>
    <b>Content:</b>
    <%= whiteboard.body %>
  </p>
</div>
<% end %>

<% if @volunteer.status != "Enter into ShelterBuddy" %>
  <%= form_tag(option: "Approve", id: @volunteer) do %>
    <%= submit_tag("Approve Volunteer") %>
  <% end %>
  
  <br>
<% end %>

<% if @volunteer.status == "Awaiting Orientation" %>
  <%= form_tag(option: "Did Not Show", id: @volunteer) do %>
    <%= submit_tag("Did Not Show") %>
  <% end %>
  
  <br>
<% end %>

<% if @volunteer.status != "Enter into ShelterBuddy" %>
  <%= form_tag(option: "Reject", id: @volunteer) do %>
    <%= submit_tag("Reject Volunteer") %>
  <% end %>
  
  <br>
<% end %>

<% if @volunteer.status == "Enter into ShelterBuddy" %>
  <%= form_tag(option: "Done", id: @volunteer) do %>
    <%= submit_tag("Done") %>
  <% end %>
  
  <br>
<% end %>

<% if @reviewtype == "newvolunteers" %>
  <%= link_to 'Back', volcoordinator_newvolunteers_path %>
<% elsif @reviewtype == "orientedvolunteers" %>
  <%= link_to 'Back', volcoordinator_orientedvolunteers_path %>
<% elsif @reviewtype == "volunteersforshelterbuddy" %>
  <%= link_to 'Back', volcoordinator_volunteersforshelterbuddy_path %>
<% elsif @reviewtype == "rejectedvolunteers" %>
  <%= link_to 'Back', volcoordinator_rejectedvolunteers_path %>
<% end %>
