
<h1>Listing fosterers</h1>

<table>
  <tr>
    <th>personal2</th>
    
    <th>catnursing</th>
    <th>catfeeding</th>
    <th>catbottlefeed</th>
    <th>catinjured</th>
    
    <th>dognursing</th>
    <th>dogfeeding</th>
    <th>dogbottlefeed</th>
    <th>doginjured</th>
    
    
    <th>rabgui</th>
    <th>hedgehoginjured</th>
    <th>hedgehogbottle</th>
    <th>birdsinjured</th>
    <th>birdstoung</th>
    <th>livestock</th>
    
    
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
  

<% @fosterers.each do |fosterer| %>
  <tr>
    <td><%= fosterer.personal2 %></td>
    
    <td><%= fosterer.catnursing %></td>
    <td><%= fosterer.catfeeding %></td>
    <td><%= fosterer.catbottlefeed %></td>
    <td><%= fosterer.catinjured %></td>
    
    <td><%= fosterer.dognursing %></td>
    <td><%= fosterer.dogfeeding %></td>
    <td><%= fosterer.dogbottlefeed %></td>
    <td><%= fosterer.doginjured %></td>
    
    <td><%= fosterer.rabgui %></td>
    <td><%= fosterer.hedgehoginjured %></td>
    <td><%= fosterer.hedgehogbottle %></td>
    <td><%= fosterer.birdsinjured %></td>
    <td><%= fosterer.birdstoung %></td>
    <td><%= fosterer.livestock %></td>
    
    
    
    <td><%= link_to 'Show', fosterer %></td>
    <td><%= link_to 'Edit', edit_fosterer_path(fosterer) %></td>
    <td><%= link_to 'Destroy', fosterer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fosterer', new_fosterer_path %> <%= link_to "Home", root_path %>
