
<h1>Listing fosterers</h1>

<table>
  <tr>
    <th>Fosterer Name</th>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
  

<% @volunteers.each do |v| %>
  
    
  <% if !v.fosterer.nil? %>
    
      
    <tr>
      <td><%= v.firstname %> <%= v.lastname %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>
	<%= link_to 'Second Page', {:controller => '/fosterer2s', :action => 'new', :volunteer_id => v.fosterer.id} %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </td>
      
      <td><%= link_to 'Show', v.fosterer %></td>
      <td><%= link_to 'Edit', edit_fosterer_path(v.fosterer) %></td>
      <td><%= link_to 'Destroy', v.fosterer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
   
    
 
<% end %>
</table>



<%= link_to "Home", root_path %>
