<p id="notice"><%= notice %></p>




<p>
  <b>ID:</b>

  <%= @fosterer.volunteer_id.nil? ? "No ID" : @fosterer.volunteer_id %>
<!--  <%#= @fosterer = Fosterer.find(5)%>
  <%#= link_to "Fosterer Record", fosterer_path(@fosterer) %>-->
  &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
  <b>First Name:</b>
  <%= @fosterer.volunteer.firstname %>
  &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
  <b>Last Name:</b>
  <%= @fosterer.volunteer.lastname %>
</p>
  
</br>

<p>
  <b>Motivation:</b>
  <%= @fosterer.motivation %>
</p>

<p>
  <b>Nursing cats with kittens:</b>
  <%= @fosterer.catnursing %>
</p>




<p>
  <b>Cats and kittens-self feeding:</b>
  <%= @fosterer.catfeeding %>
</p>







<p>
  <b>Bottle feeding kittens:</b>
  <%= @fosterer.catbottlefeed %>
</p>





<p>
  <b>Injured or sick cats and kittens:</b>
  <%= @fosterer.catinjured %>
</p>

<p>
  <b>Nursing dogs with puppies:</b>
  <%= @fosterer.dognursing %>
</p>

<p>
  <b>self-feeding puppies:</b>
  <%= @fosterer.dogfeeding %>
</p>



<p>
  <b>Bottle feeding puppies:</b>
  <%= @fosterer.dogbottlefeed %>
</p>




<p>
  <b>Injured or sick dogs and puppies:</b>
  <%= @fosterer.doginjured %>
</p>






<p>
  <b>Rabbits & guinea:</b>
  <%= @fosterer.rabgui %>
</p>

<p>
  <b>Hedgehogs-sick or injured young:</b>
  <%= @fosterer.hedgehoginjured %>
</p>

<p>
  <b>Hedgehogs-bottle feeding:</b>
  <%= @fosterer.hedgehogbottle %>
</p>

<p>
  <b>Birds-adults or injured:</b>
  <%= @fosterer.birdsinjured %>
</p>

<p>
  <b>Birds-young:</b>
  <%= @fosterer.birdstoung %>
</p>

<p>
  <b>Livestock-how many hectares do you have?:</b>
  <%= @fosterer.livestock %>
</p>





<%= link_to 'Edit', edit_fosterer_path(@fosterer) %> |
<%= link_to 'Back', fosterers_path %>
