<h1>Listing fosterer2s</h1>

<table>
  <tr>
    <th>ownhome</th>
    <th>inspecting</th>
    <th>rooms</th>
    <th>roomwarm</th>
    <th>hutch</th>
    <th>rabbithutch</th>
    <th>aviary</th>
    <th>livestockfenced</th>
    <th>homedesc</th>
    <th>numadulta</th>
    <th>numchild</th>
    <th>ages</th>
    
    <th>numhoursperday</th>
    <th>worktype</th>
    <th>secondperson</th>
    <th>allmembersagree</th>
    <th>bringcentre</th>
    <th>transportdesc</th>
    
    <th>agreement</th>
    
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fosterer2s.each do |fosterer2| %>
  <tr>
    <td><%= fosterer2.ownhome %></td>
    <td><%= fosterer2.inspecting %></td>
    <td><%= fosterer2.rooms %></td>
    <td><%= fosterer2.roomwarm %></td>
    <td><%= fosterer2.hutch %></td>
    <td><%= fosterer2.rabbithutch %></td>
    <td><%= fosterer2.aviary %></td>
    <td><%= fosterer2.livestockfenced %></td>
    <td><%= fosterer2.homedesc %></td>
    <td><%= fosterer2.numadulta %></td>
    <td><%= fosterer2.numchild %></td>
    <td><%= fosterer2.ages %></td>
    
    <td><%= fosterer2.numhoursperday %></td>
    <td><%= fosterer2.worktype %></td>
    <td><%= fosterer2.secondperson %></td>
    <td><%= fosterer2.allmembersagree %></td>
    <td><%= fosterer2.bringcentre %></td>
    <td><%= fosterer2.transportdesc %></td>
    
    <td><%= fosterer2.agreement %></td>
    
    <td><%= link_to 'Show', fosterer2 %></td>
    <td><%= link_to 'Edit', edit_fosterer2_path(fosterer2) %></td>
    <td><%= link_to 'Destroy', fosterer2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fosterer2', new_fosterer2_path %> <%= link_to "Home", root_path %>
