<h1>Listing fosterer2s</h1>

<table>
  <tr>
    <th>Fosterer Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @volunteers.each do |v| %>
  <tr>
    <% if !v.fosterer2.nil? %>  
      <td><%= v.firstname %> <%= v.lastname %></td>
      <td><%= link_to 'Show', v.fosterer2 %></td>
      <td><%= link_to 'Edit', edit_fosterer2_path(v.fosterer2) %></td>
      <td><%= link_to 'Destroy', v.fosterer2, method: :delete, 
                                    data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
  <% end %>
</table>
<br />
<%= link_to "Home", root_path %>
