<p id="notice"><%= notice %></p>



<p>
  <b>ID:</b>

  <%= @fosterer2.volunteer_id.nil? ? "No ID" : @fosterer2.volunteer_id %>
  &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
  <b>First Name:</b>
  <%= @fosterer2.volunteer.firstname %>
  &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
  <b>Last Name:</b>
  <%= @fosterer2.volunteer.lastname %>
</p>


<p>
  <b>Ownhome:</b>
  <%= @fosterer2.ownhome %>
</p>
<p>
  <b>Inspecting:</b>
  <%= @fosterer2.inspecting %>
</p>
<p>
  <b>Separate Rooms:</b>
  <%= @fosterer2.rooms %>
</p>
<p>
  <b>Warm Room:</b>
  <%= @fosterer2.roomwarm %>
</p>
<p>
  <b>Hutch:</b>
  <%= @fosterer2.hutch %>
</p>
<p>
  <b>Rabbit Hutch:</b>
  <%= @fosterer2.rabbithutch %>
</p>
<p>
  <b>Aviary:</b>
  <%= @fosterer2.aviary %>
</p>
<p>
  <b>Livestock Fenced:</b>
  <%= @fosterer2.livestockfenced %>
</p>
<p>
  <b>Home Description:</b>
  <%= @fosterer2.homedesc %>
</p>
<p>
  <b>Number of Adults:</b>
  <%= @fosterer2.numadulta %>
</p>
<p>
  <b>Number of Children:</b>
  <%= @fosterer2.numchild %>
</p>
<p>
  <b>Ages:</b>
  <%= @fosterer2.ages %>
</p>
<p>
  <b>Number of Hours per Day:</b>
  <%= @fosterer2.numhoursperday %>
</p>
<p>
  <b>Worktype:</b>
  <%= @fosterer2.worktype %>
</p>
<p>
  <b>Second Person:</b>
  <%= @fosterer2.secondperson %>
</p>
<p>
  <b>All Members Agree:</b>
  <%= @fosterer2.allmembersagree %>
</p>

<p>
  <b>Bring Center:</b>
  <%= @fosterer2.bringcentre %>
</p>
<p>
  <b>Transport Description:</b>
  <%= @fosterer2.transportdesc %>
</p>
<p>
  <b>Agreement:</b>
  <%= @fosterer2.agreement %>
</p>


<%= link_to 'Edit', edit_fosterer2_path(@fosterer2) %> |
<%= link_to 'Back', fosterer2s_path %>
