<p id="notice"><%= notice %></p>

<p>
  <b>Ownhome:</b>
  <%= @fosterer2.ownhome %>
</p>
<p>
  <b>inspecting:</b>
  <%= @fosterer2.inspecting %>
</p>
<p>
  <b>Ownhome:</b>
  <%= @fosterer2.ownhome %>
</p>
<p>
  <b>rooms:</b>
  <%= @fosterer2.rooms %>
</p>
<p>
  <b>roomwarm:</b>
  <%= @fosterer2.roomwarm %>
</p>
<p>
  <b>hutch:</b>
  <%= @fosterer2.hutch %>
</p>
<p>
  <b>rabbithutch:</b>
  <%= @fosterer2.rabbithutch %>
</p>
<p>
  <b>aviary:</b>
  <%= @fosterer2.aviary %>
</p>
<p>
  <b>livestockfenced:</b>
  <%= @fosterer2.livestockfenced %>
</p>
<p>
  <b>homedesc:</b>
  <%= @fosterer2.homedesc %>
</p>
<p>
  <b>numadulta:</b>
  <%= @fosterer2.numadulta %>
</p>
<p>
  <b>numchild:</b>
  <%= @fosterer2.numchild %>
</p>
<p>
  <b>ages:</b>
  <%= @fosterer2.ages %>
</p>
<p>
  <b>numhoursperday:</b>
  <%= @fosterer2.numhoursperday %>
</p>
<p>
  <b>worktype:</b>
  <%= @fosterer2.worktype %>
</p>
<p>
  <b>secondperson:</b>
  <%= @fosterer2.secondperson %>
</p>
<p>
  <b>allmembersagree:</b>
  <%= @fosterer2.allmembersagree %>
</p>

<p>
  <b>bringcentre:</b>
  <%= @fosterer2.bringcentre %>
</p>
<p>
  <b>transportdesc:</b>
  <%= @fosterer2.transportdesc %>
</p>
<p>
  <b>agreement:</b>
  <%= @fosterer2.agreement %>
</p>


<%= link_to 'Edit', edit_fosterer2_path(@fosterer2) %> |
<%= link_to 'Back', fosterer2s_path %>
