<h1>Listing orientations</h1>

<table>
  <tr>
    <th>Presenter</th>
    <th>Date and Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orientations.each do |orientation| %>
  <tr>
    <td><%= orientation.presenter %></td>
    <% if orientation.id == 1 %>
      <td></td>
      <td><%= link_to 'Without orientation', orientation %></td>
      <td></td>
      <td></td>
    <% else %>
      <td><%= orientation.datetime.to_formatted_s(:long_ordinal) %></td>
      <td><%= link_to 'Show', orientation %></td>
      <td><%= link_to 'Edit', edit_orientation_path(orientation) %></td>
      <td><%= link_to 'Destroy', orientation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Orientation', new_orientation_path %>
