<h1>Listing orientations</h1>

<table>
  <tr>
    <th>Presenter</th>
    <!--<th>Date</th>
    <th>Time</th>-->
    <th>DateTime</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orientations.each do |orientation| %>
  <tr>
    <td><%= orientation.presenter %></td>
    <td><%#= orientation.date %></td>
    <td><%#= orientation.time %></td>
    <td><%= orientation.datetime %></td>
    <% if orientation.id==1 %>
     <td><%= link_to 'Without orientation', orientation %></td>
     <% end %>
    <% if orientation.id!=1 %>
    <td><%= link_to 'Show', orientation %></td>
    <td><%= link_to 'Edit', edit_orientation_path(orientation) %></td>
    <td><%= link_to 'Destroy', orientation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Orientation', new_orientation_path %>
