<p id="notice"><%= notice %></p>

<% if @orientation.id != 1 %>
  <p>
    <b>Presenter:</b>
    <%= @orientation.presenter %>
  </p>
  
  <p>
    <b>Datetime:</b>
    <%= @orientation.datetime.to_formatted_s(:long_ordinal) %>
  </p>
  
  <p>
    <b>Duration:</b>
    <%= @orientation.duration %>
  </p>
  
  <p>
    <b>Number of current participants:</b>
    <%= @orientation.numCurrParticipant %>
  </p>
  
  <p>
    <b>Number of maximum participants:</b>
    <%= @orientation.participantMax %>
  </p>

  <% if @orientation.numCurrParticipant > 0 %>
    <p>
      <b>Participants:</b>
      
      <%= form_tag "/orientations/#{@orientation.id}", method: "put", action: "update" do %>
        <table>
          <% @orientation.volunteers.each do |vol| %>
            <tr>
              <td><%= check_box_tag "delOrien_#{vol.id}" %></td>
              <td><%= label_tag("delOrien_#{vol.id}", vol.orientation.nil? ? '' : vol.firstname) %></td>
            </tr>
          <% end %>
        </table>
        <%= submit_tag 'Remove from Orientation' %>
      <% end %>
    </p>
  <% end %>
  
<% else %>
  <p>
    <b>Volunteers without an orientation time:</b>
    <table>
      <% @orientation.volunteers.each do |vol| %>
        <%= form_tag "/orientations/#{@orientation.id}", method: "put", action: "update" do %>
          <tr>
            <td>
              <% conds   = "id != 1 and numCurrParticipant < participantMax and datetime > \'" + DateTime.now.to_default_s + "\'" %>
              <% orients = Orientation.where(conds).order("datetime").map { |o| [o.datetime.to_formatted_s(:long_ordinal), o.id] } %>
              <%= label_tag("addOrien_#{vol.id}", vol.orientation.nil? ? '' : vol.firstname) %>
            </td>
            <td><%= select("addOrien_#{vol.id}", :id, orients) %></td>
            <td><%= submit_tag 'Add' %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </p>
<% end %>

<% if @orientation.id != 1 %>
  <%= link_to 'Edit', edit_orientation_path(@orientation) %> |
<% end %>
<%= link_to 'Back', orientations_path %>
