<p id="notice"><%= notice %></p>

<% if @orientation.id != 1 %>
  <p>
    <b>Presenter:</b>
    <%= @orientation.presenter %>
  </p>
  
  <p>
    <b>Datetime:</b>
    <%= @orientation.datetime.to_formatted_s(:long_ordinal) %>
  </p>
  
  <p>
    <b>Number of current participants:</b>
    <%= @orientation.numCurrParticipant = @orientation.volunteers.length %>
    <% #= @orientation.numCurrParticipant %>
  </p>
  
  <p>
    <b>Number of maximum participants:</b>
    <%= @orientation.participantMax %>
  </p>
  
  <p>
    <b>Participants:</b>
  
<% else %>
  <p><b>Volunteers without an orientation time:</b>
<% end %>

<% @orientation.volunteers.each do |vol| %>
  <% if @orientation.id != 1 %>
    <table>
      <%= form_tag "/orientations/#{vol.orientation_id}", method: "put", action: "update"  do %>
        <td>
          <%= check_box_tag "delOrien_#{vol.id}" %>
          <%= label_tag("delOrien_#{vol.id}", vol.orientation.nil? ? '' : vol.firstname) %>
          <%= submit_tag 'Delete' %>
        </td>
      <% end %>
    </table>
  <% else %>
    <table>
      <%= form_tag "/orientations/#{vol.orientation_id}", method: "put", action: "update" do %>
        <td>
          <% orients = Orientation.where(["id != 1 and numCurrParticipant < participantMax"]).map { |o| [o.datetime, o.id] } %>
          <%= label_tag("addOrien_#{vol.id}", vol.orientation.nil? ? '' : vol.firstname) %>
          <%= select("addOrien_#{vol.id}", :id, orients) %>
          <%= submit_tag 'Add' %>
        </td>
      <% end %>
    </table>
  <% end %>
<% end %>
</p>

<% if @orientation.id != 1 %>
  <%= link_to 'Edit', edit_orientation_path(@orientation) %> |
<% end %>
<%= link_to 'Back', orientations_path %>