    <p id="notice"><%= notice %></p>

    <p>
      <b>Presenter:</b>
      <%= @orientation.presenter %>
    </p>

    <!--<p>
      <b>Date:</b>
      <%#= @orientation.date %>
    </p>-->

    <!--<p>
      <b>Time:</b>
      <%#= @orientation.time %>
    </p>-->

    <p>
      <b>Datetime:</b>
      <%= @orientation.datetime %>
    </p>


    <p>
      <b>Participants:</b>
      
      <% vols = Volunteer.all %>
	    <% (0..vols.length-1).each do |p| %>
	    <% if (vols[p].orientation_id == @orientation.id and vols[p].orientation_id!=1)%>
  
	  <table>
	      <%= form_tag "/orientations/#{vols[p].orientation_id}", method: "put", action: "update"  do %>
	      <td>
		<%= check_box_tag "volz_#{vols[p].id}" %>
		<%= label_tag("volz_#{vols[p].id}", vols[p].orientation.nil? ? '' : vols[p].firstname) %>
	       
		<%= submit_tag 'Delete' %>
	     
	      </td>
	     
	    
	      <% end %>
	  </table>
	  <% end %>
	  
	    <% if (vols[p].orientation_id == @orientation.id and vols[p].orientation_id == 1)%>
	    <%#= form_for(@volunteer) do |f| %>
		<table>
		    <%= form_tag "/orientations/#{vols[p].orientation_id}", method: "put", action: "update"  do %>
		      <td>
<!-- 		      <div class="actions"> -->
			<%= label_tag("volz_#{vols[p].id}", vols[p].orientation.nil? ? '' : vols[p].firstname) %>
			<%= collection_select(:orientation, :id, Orientation.all, :id, :datetime) %>
			
<!-- 			<%#= submit_tag 'Add' %> -->
		      </div>
		      </td> 
		    <% end %>
		 </table>
	      <% #end %>
	  <% end %>
      <% end %>
	          
  
	 
    </p>
    
    
    <%= link_to 'Edit', edit_orientation_path(@orientation) %> |
    <%= link_to 'Back', orientations_path %>
