<h1>Listing Roster Coordinators</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Department</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @roster_coordinators.each do |roster_coordinator| %>

puts "###################################################"
puts roster_coordinator.inspect

  <tr>
    <td><%= roster_coordinator.title %></td>
    <td><%= roster_coordinator.firstname %></td>
    <td><%= roster_coordinator.lastname %></td>
    <td><%= roster_coordinator.department.name %></td>
    <td><%= link_to 'Show', roster_coordinator %></td>
    <td><%= link_to 'Edit', edit_roster_coordinator_path(roster_coordinator) %></td>
    <td><%= link_to 'Destroy', roster_coordinator, method: :delete, 
                                  data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dept Supervisor', new_roster_coordinator_path %>
