<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @roster_coordinator.title %>
</p>

<p>
  <b>Firstname:</b>
  <%= @roster_coordinator.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @roster_coordinator.lastname %>
</p>

<p>
  <b>Department:</b>
  <%= @roster_coordinator.department.name %>
</p>


<%= link_to 'Edit', edit_roster_coordinator_path(@roster_coordinator) %> |
<%= link_to 'Back', roster_coordinators_path %>
