<div class='nav_bar' align='center'>
  <%= link_to "Home", root_path %>
  <%= link_to "Volunteers", volunteers_path %>
  <%= link_to "Fosterers", '/fosterers' %>
  <%= link_to "Coordinator Page", volcoordinators_path %>
  <%= link_to "Volunteer Scheduler", volschedulers_path %>
  <%= link_to "Department Supervisors", dept_supervisors_path %>
  <%= link_to "Departments", departments_path %>
</div>
